*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    height: 80px;
    font-weight: 600;
    background-color: wheat;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.background{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
button{
    margin-top: 10px;
    padding: 10px 12px;
    background-color: yellow;
    border-radius: 20px;
}


@media screen and (max-width: 768px ){
    .background{
        height: 70vh;
    }
}

